@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nerko+One&display=swap');
@import 'fontawesome/css/solid.min.css';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --size-large: 800px;
  --size-medium: 650px;
  --size-small: 350px;

  --primary: 217, 196, 169;
  --secondary: 49, 101, 245;
  --neutral: 49, 101, 245;

  --player-color-0: 49, 101, 245;
  --bingo-color: 33, 222, 89;
  --joker-color: 222, 33, 165;

  --opacity: 0.5;
  --opacity-light: 0.1;
  --opacity-mid: 0.3;

  --box-shadow: 0 0 20px;
  --box-shadow-mid: 0 0 50px;
  --box-shadow-big: 0 0 100px;
}

body {
  font-size: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Gochi Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(var(--secondary));
  background-color: rgba(var(--primary), 0.4);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(1.1, 1.1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes bingo {
  from {
    transform: scale(0, 0) rotate(0deg);
    opacity: 0;
    top: 0;
  }
  to {
    transform: scale(1, 1) rotate(360deg);
    opacity: 1;
    top: 20vh;
  }
}

#root {
  display: grid;
  align-content: space-around;
  min-height: 100vh;
}

#board {
  width: var(--size-large);
  margin: 0 auto;
  border: 1px rgba(var(--primary), 1) solid;
  padding: 0.05rem;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background-color: rgba(var(--primary), 0.2);
  box-shadow: var(--box-shadow-big) rgba(var(--primary), var(--opacity));
}

nav {
  flex: 1 1 100%;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: rgba(var(--primary), var(--opacity-light));
  font-size: 1.5rem;
  box-shadow: var(--box-shadow-big) rgba(var(--primary), var(--opacity)) inset;
  flex-wrap: wrap;
  display: flex;
  justify-content: right;
  text-align: right;
}

nav > p {
  flex: 2 2 80%;
}

nav > p:last-child {
  flex: 1 1 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#turns,
#score {
  font-size: 2rem;
}

#score {
  animation-name: fadeIn;
  animation-duration: 2s;
}

#play-button {
  text-decoration: none;
  color: rgba(var(--secondary));
  border: 3px dashed rgba(var(--secondary));
  padding: 1rem;
  font-weight: bold;
  transition-property: border-color color;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
}

#play-button:hover {
  text-decoration: none;
  color: rgba(var(--player-color-0), var(--background--opacity));
  border: 3px dashed rgba(var(--player-color-0), var(--background--opacity));
  padding: 1rem;
  font-weight: bold;
}

#board > div {
  /* float: left; */
  flex: 1 1 calc(var(--size-large) / 5);
  border: 1px transparent solid;
  box-sizing: border-box;
  width: calc(var(--size-large) / 5);
  height: calc(var(--size-large) / 5);
  text-align: center;
  vertical-align: middle;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  align-items: center;
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
}

#board > div[class*='p-0'] {
  border: 1px rgba(var(--player-color-0)) solid;
  background-color: rgba(var(--player-color-0), var(--opacity-mid));
  box-shadow: var(--box-shadow-mid)
    rgba(var(--player-color-0), var(--opacity-mid)) inset;
  color: rgba(var(--secondary), 1);
  animation-name: scale;
  animation-duration: 1s;
}

#board > div[class*='p-0'].bingo {
  border: 1px rgba(var(--joker-color)) solid;
  background-color: rgba(var(--joker-color), var(--opacity-mid));
  box-shadow: var(--box-shadow-mid) rgba(var(--joker-color), var(--opacity-mid))
    inset;
  color: rgba(var(--neutral), 1);
  animation-name: spin;
  animation-duration: 1s;
}

#board > div::before {
  font-size: calc(var(--size-medium) / 7.5);
  top: 1vw;
}

#board > div.bingo {
  border: 1px rgba(var(--bingo-color)) solid;
  background-color: rgba(var(--bingo-color), var(--opacity-mid));
  box-shadow: var(--box-shadow-mid) rgba(var(--bingo-color), var(--opacity-mid))
    inset;
  color: rgba(var(--neutral), 1);
  animation-name: scale;
  animation-duration: 1s;
}

div.bingo::before {
  content: '\f057';
  font-family: 'Font Awesome 5 Free';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: -1;
  opacity: var(--opacity-light);
  color: rgba(var(--bingo-color), var(--opacity-light));
}

#board > div.joker {
  border: 1px rgba(var(--joker-color)) solid;
  background-color: rgba(var(--joker-color), var(--opacity-mid));
  box-shadow: var(--box-shadow-mid) rgba(var(--joker-color), var(--opacity-mid))
    inset;
  color: rgba(var(--neutral), 1);
  animation-name: scale;
  animation-duration: 1s;
}

div[class*='p-0'].bingo::before,
.joker::before {
  content: '\f521';
  width: 100%;
  font-family: 'Font Awesome 5 Free';
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: -1;
  opacity: var(--opacity-light);
  color: rgba(var(--bingo-joker), var(--opacity-light));
}

#board > div[class*='p-0'].joker {
  border: 1px rgba(var(--joker-color)) solid;
  background-color: rgba(var(--joker-color), var(--background--opacity));
}

#root #win {
  position: fixed;
  top: 20vh;
  margin: auto;
  border: unset;
  text-align: center;
  width: 100%;
  box-shadow: unset;
  left: 0;
  font-size: 10rem;
  color: rgba(var(--bingo-joker), 1);
  animation-name: bingo;
  animation-duration: 0.5s;
}

#root #win p {
  width: 100%;
  color: rgba(var(--joker-color));
  text-shadow: var(--box-shadow) rgb(var(--joker-color));
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  #board > div::before {
    font-size: calc(var(--size-medium) / 7.5);
  }
  #board {
    width: var(--size-medium);
  }

  #board > div {
    flex: 1 1 calc(var(--size-medium) / 5);
    width: calc(var(--size-medium) / 5);
    height: calc(var(--size-medium) / 5);
  }
}

@media (max-width: 765px) {
  body {
    font-size: 10px;
    line-height: 11px;
  }
  #root nav {
    max-width: 100vw;
    overflow: hidden;
  }
  #root #turns,
  #root #score {
    font-size: 1rem;
  }

  #board > div::before {
    font-size: calc(var(--size-small) / 7.5);
    top: 30px;
  }
  #board {
    width: var(--size-small);
  }

  #board > div {
    flex: 1 1 calc(var(--size-small) / 5);
    width: calc(var(--size-small) / 5);
    height: calc(var(--size-small) / 5);
  }

  #play-button {
    font-size: 1rem;
    padding: 0.5rem;
  }

  #root #win {
    font-size: 3rem;
  }
}
